@model IEnumerable<Do_An.Areas.Admin.Models.HoaDonModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hóa Đơn</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHoaDon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHoaDon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHoaDon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
